@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #030712; 
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #030712; 
}

::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 20px;
  border: 2px solid #030712;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}